* {
  font-family: helvetica;
}

/* header */

.header-container {
  display: flex;
  background-color: #BDBDBD;
  padding: 20px 0px 20px 100px;
  justify-content: space-between;
}

.logo {
  display:flex;
  width: 80px;
  height: 80px;
  align-self: center;
  margin-right: 40px;
}

.header-links {
  display: flex;
  list-style: none;
  gap: 60px;
  margin-right: 50px;
  align-items:center;
  font-size: 20px;
  color: white;
}

/* hero */

.hero-container {
  display: flex;
  background-color: #BDBDBD;
  justify-content: space-between;
}

.hero-main-text {
  display: flex;
  font-size: 50px;
  font-weight:bolder;
  color: white;
}

.hero-sub-text {
  display: flex;
  font-size: 22px;
  color: white;
}

.hero-button {
  display: flex;
  padding: 20px 20px;
  background-color: black;
  color: white;
  font-size: 25px;
  margin-left: 250px;
  margin-top: 80px;
  border-radius: 15px;
}

.hero-racoonimg {
  display: flex;
  height: auto;
  width: 900px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*content*/

/* the bois */

.the-bois-container {
  display: flex;
  background-color: #9E9E9E;
  justify-content:center;
  align-items:center;
}

#the-bois-header {
  display: flex;
  font-size: 36px;
  font-weight: bolder;
  color: white;
}

.the-bois-list{
  display: flex;
  list-style: none;
  margin-top: 100px;
  margin-right: 80px;
  padding-bottom: 50px;
  gap: 60px;
  font-size: 18px;
  text-align:center;
  color: white;
}

.cakeracoon {
  display: flex;
  height: 150px;
  border: 4px solid white;
  border-radius: 15px;
}

.highfiveracoon {
  display: flex;
  height: 150px;
  width: 150px;
  border: 4px solid white;
  border-radius: 15px;
}

.mladyracoon {
  display: flex;
  height: 150px;
  width: 150px;
  border: 4px solid white;
  border-radius: 15px;
}

.painterracoon {
  display: flex;
  height: 150px;
  width: 150px;
  border: 4px solid white;
  border-radius: 15px;
}

/* about */

#about-container {
  display: flex;
  flex-direction: column;
  background-color: #757575;
  align-items: center;
}

.about-quote {
  display: flex;
  font-size: 39px;
  font-style: italic;
  color: white;
}

.about-author {
  font-size: 22px;
  margin-left: 800px;
  color: white;
}

/* contact */

#contact-container {
  display: flex;
  background-color: #616161;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-header {
  display: flex;
  font-size: 28px;
  color: white;
}

.contact-list {
  list-style: none;
  color: white;
}

/* call to action*/

.call-to-action-container {
  display: flex;
  background-color: #212121;
}

.call-to-action {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background: #424242;
  color: white;
  width: 85%;
  margin: auto;
  border-radius: 7px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.call-to-action-button {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 20px 20px;
  background-color: black;
  color: white;
  font-size: 25px;
  border-radius: 15px;
}

/*footer*/

.footer-container {
  display: flex;
  justify-content: center;
  background-color: #212121;
}

.footer-text {
  display: flex;
  color: white;
}
